<div class="row">
    <div class="col-xs-12">
        <img class="img-responsive"[src]="recipeDetail.imagePath">
            
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{recipeDetail.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle" >
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li (click)="AddIngredients()" ><a>Add shopping list</a></li>
                <li (click)="OnRecipeEdit()"><a >Edit Recipe</a></li>
                <li><a href="">Delete recipe</a></li>

            </ul> 
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{recipeDetail.description}}
    </div>
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipeDetail.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>
